<% game = Array[ "---", "BASKETBALL", "BADMINTON", "BALL BADMINTON", "TABLE TENNIS", "VOLLEYBALL", "CRICKET", "FOOTBALL", "HANDBALL", "HOCKEY", "KABBADI", "KHO-KHO"] %>

<div class= "f-form">
  <%= form_for(@register) do |f| %>
    <% if @register.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

        <ul>
        <% @register.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <td class="hed"><%= f.label :fname, "Name" %></td>
        <td colspan="2"><%= f.text_field :fname, :placeholder => "First Name", :class => "form-control" %></td>
        <td colspan="2"><%= f.text_field :lname, :placeholder => "Last Name", :class => "form-control" %></td>
      </tr>
      <tr>
        <td class="hed"><%= f.label :menwomen, "Gender" %></td>
        <td>
            <%= f.select(:menwomen) do %>
              <%= content_tag(:option, "Male", value: "Male") %>
              <%= content_tag(:option, "Female", value: "Female") %>
            <% end %>
        </td>
        
      </tr>
      <tr>
        <td class="hed"><%= f.label :email, "E-Mail" %></td>
        <td colspan="2"><%= f.text_field :email, :placeholder => "abc@example.com", :class => "form-control" %></td>
        <td class="hed"><%= f.label :contactno, "Contact Number" %></td>
        <td><%= f.text_field :contactno, :placeholder => "9876543210", :class => "form-control" %></td>
      </tr>
      <tr>
        <td class="hed"><%= f.label :collegename, "College Name" %></td>
        <td colspan="2"><%= f.text_field :collegename, :placeholder => "College of Engineering, Guindy", :class => "form-control" %></td>
      </tr>
      <tr>
        <td class="hed"><%= f.label :coladdress, "College Address" %></td>
        <td colspan="2" rowspan="2"><%= f.text_area :coladdress, :class => "form-control" %></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td class="hed"><%= f.label :city, "City" %></td>
        <td><%= f.text_field :city, :placeholder => "Chennai", :class => "form-control" %></td>
        <td class="hed"><%= f.label :state, "State" %></td>
        <td><%= f.text_field :state, :placeholder => "Tamil Nadu", :class => "form-control" %></td> 
      </tr>
      <tr>
        <td class="hed"><%= f.label :pincode %></td>
        <td><%= f.number_field :pincode, :placeholder => "600025", :class => "form-control" %></td>
      </tr>
      <tr>
        <td class="hed"><%= f.label :fphydirname, "Physical Director's Name" %></td>
        <td colspan="2"><%= f.text_field :fphydirname, :placeholder => "First Name", :class => "form-control" %></td>
        <td colspan="2"><%= f.text_field :lphydirname, :placeholder => "Last Name", :class => "form-control" %></td>
      </tr>
      <tr>
        <td class="hed"><%= f.label :pdcontact, "Physical Director's Contact" %></td>
        <td><%= f.number_field :pdcontact, :placeholder => "9876543210", :class => "form-control" %></td>
      </tr>
      <tr>
        <td class="hed"><%= f.label :sports %></td>
        <td>
          <%= f.select(:sports) do %>
            <% for c in game %>
             <%= content_tag(:option, c, value: c) %>
            <% end %>
          <% end %>
        </td>
      </tr>
      
      
      <tr class="cat">
        <td class="hed"><%= f.label :singdouble, "Catogory" %></td>
        <td>
            <%= f.select(:singdouble) do %>
              <%= content_tag(:option, "Singles", value: "Singles") %>
              <%= content_tag(:option, "Doubles", value: "Doubles") %>
              <%= content_tag(:option, "Mixed Doubles", value: "Mixed Doubles") %>
            <% end %>
        </td>
        
      </tr>
      <tr>
        <td colspan="3"><%= f.label :accepted, "I accept the Terms and Conditions" %><%= f.check_box :accepted %></td>
      </tr>
    </table>
    
    
    
      
      
      
      
      
      
      
      
      
      
      
      
      
  	
    	
      
      
      
      
      
  
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>