<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' unless current_page?(root_path) %>
    </header>
      <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
  <script type="text/javascript">
    $(".cat").hide();
    $("#register_singdouble").hide();
    $("#register_menwomen").hide();

    $("#register_sports").focusout(function(){
      var x = document.forms["myForm"]["register[sports]"].value;
      if(x == "BASKETBALL" || x == "VOLLEYBALL" || x == "BALL BADMINTON" || x == "BADMINTON" || x == "TABLE TENNIS")
      {
        $(".cat").fadeIn("slow");
      }
      else
      {
        $(".cat").hide();
      }

    });

    $("#register_sports").focus(function(){
      var x = document.forms["myForm"]["register[sports]"].value;
      if(x == "BASKETBALL" || x == "VOLLEYBALL" || x == "BALL BADMINTON" || x == "BADMINTON" || x == "TABLE TENNIS")
      {
        $(".cat").fadeIn("slow");
      }
      else
      {
        $(".cat").hide();
      }

    });


    $("#register_sports").focusout(function(){
      var x = document.forms["myForm"]["register[sports]"].value;
      if(x == "BASKETBALL" || x == "VOLLEYBALL" || x == "BALL BADMINTON")
      {
        $("#register_menwomen").show();
      }
      else
      {
        $("#register_menwomen").hide();
      }

    });

    $("#register_sports").focus(function(){
      var x = document.forms["myForm"]["register[sports]"].value;
      if(x == "BASKETBALL" || x == "VOLLEYBALL" || x == "BALL BADMINTON")
      {
        $("#register_menwomen").show();
      }
      else
      {
        $("#register_menwomen").hide();
      }

    });

    $("#register_sports").focusout(function(){
      var x = document.forms["myForm"]["register[sports]"].value;
      if(x == "BADMINTON" || x == "TABLE TENNIS")
      {
        $("#register_singdouble").show();
      }
      else
      {
        $("#register_singdouble").hide();
      }

    });

    $("#register_sports").focus(function(){
      var x = document.forms["myForm"]["register[sports]"].value;
      if(x == "BADMINTON" || x == "TABLE TENNIS")
      {
        $("#register_singdouble").show();
      }
      else
      {
        $("#register_singdouble").hide();
      }

    });
  </script>

</html>
